#pageView {
  max-width: 100%;
  text-align: center;
  background-color: white;
}

#root{
  max-width: 100%;
  text-align: center;
}

.home-hero-logo{
  height: 7em;
  position: absolute;
  top: 0;
  width: 7em;
}

.home-hero-logo img{
  width: 7em;
  height: auto;
  color:white;
}

#home-hero{
  width: 100%;
  height: 140vh;
}


#home-hero video{
  object-fit: cover;
  width: 100%;
  height: 140vh;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
